body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container-fluid {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  width: 30rem;
  margin-top: 5rem;
  padding: 1.5rem;
}
